* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.page-content {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.grow-1 {
    flex-grow: 1;
}