* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.page-content {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.grow-1 {
    flex-grow: 1;
}

.col-4 {
    flex-basis: calc(100% / 12 * 4);
    padding: 0 10px;

    &:nth-child(3n+1) {
        margin-left: -10px;
    }

    &:nth-child(3n+3) {
        margin-right: -10px;
    }
}